<div style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;">
    <img src="/images/dashboard_bgd.gif" width="100%" height="100%" alt="Background Image">
</div>

<section>
    {{!-- I need to add code so that the titles will update for each post, likes, and comments for each --}}
    <div class="level is-fixed-bottom has-background-primary">
        <div class="level-item has-text-centered">
            <div>
            <p class="heading is-size-5">Posts</p>
            <p class="title is-size-4">0</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading is-size-5">Likes</p>
            <p class="title is-size-4">0</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading is-size-5">Comments</p>
            <p class="title is-size-4">0</p>
            </div>
        </div>
    </div>
    <div class="container has-background-success-light has-text-centered">
        <div class="content mt-6">
            <h3>Welcome, {{username}}!</h3>
        </div>

        {{#if postlength}}
            {{#each posts as |post|}}
                <div class="box">
                    <div class="content">
                        <h5 class="title">{{title}}</h5>
                        <p>{{post_body}}</p>
                        <p><small>{{format_date created_at}}</small></p>

                        <div class="buttons has-addons is-right">
                            <button class="button has-background-grey-light is-small js-modal-trigger" data-toggle="modal" data-target="editPost{{id}}">
                                <span class="icon is-small">
                                    <i class="fas fa-pencil"></i>
                                </span>
                                <span class="has-text-white">
                                    Edit
                                </span>
                            </button>

                            <button class="button is-danger is-small js-modal-trigger" data-target="deletePost{{id}}">
                                <span class="icon is-small">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                                <span class="has-text-white">
                                    Delete
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            {{/each}}
            <button class="button has-background-grey-light js-modal-trigger" data-target="addPost" id="new-post-save">
                <span class="icon is-small">
                    <i class="fas fa-circle-plus"></i>
                </span>
                <span class="has-text-white">
                    Create New Post
                </span>
            </button>
        {{else}}
            <h4 class="mt-5 mb-5"><strong>Let's create your first post.</strong></h4>
            <button class="button has-background-grey-light js-modal-trigger" data-target="addPost">
                <span class="icon is-small">
                    <i class="fas fa-circle-plus"></i>
                </span>
                <span class="has-text-white">
                    Create New Post
                </span>
            </button>
        {{/if}}

        <!-- New Post Form -->
        <div class="modal" id="addPost">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Create New Post</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <form>
                        <div class="field">
                            <label class="label">Title</label>
                            <div class="control">
                                <input class="input" type="text" id="new-post-title" placeholder="Enter post title">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Post Body</label>
                            <div class="control">
                                <textarea class="textarea" id="new-post-body" placeholder="Enter post body"></textarea>
                            </div>
                        </div>
                    </form>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success" id="new-post-submit">Create Post</button>
                    <button class="button" id="cancel">Cancel</button>
                </footer>
            </div>
        </div>
    </div>
</section>

<!-- Edit Post Modals -->
{{#each posts as |post|}}
    <div class="modal" id="editPost{{id}}">
        <!-- Content for Edit Post Modal -->
    </div>
{{/each}}

<!-- Delete Post Modals -->
{{#each posts as |post|}}
    <div class="modal" id="deletePost{{id}}">
        <!-- Content for Delete Post Modal -->
    </div>
{{/each}}

<!-- Open and Close Modals -->
<script src="/modal.js"></script>
<script src="/post.js"></script>
