<section>
    <div class="container">
        <div class="content mt-3">
            <h3>Welcome, {{username}}!</h3>
        </div>

        {{#if postlength}}
        {{#each posts as |post|}}
        <div class="box">
            <div class="content">   
                <h5 class="title">{{title}}</h5>
                <p>{{post_body}}</p>
                <p><small>{{format_date created_at}}</small></p>

                <div class="buttons has-addons is-right">
                    <button class="button is-info is-small js-modal-trigger" data-toggle="modal" data-target="editPost{{id}}">
                        <span class="icon is-small">
                            <i class="fas fa-pencil"></i>
                        </span>
                        <span class="has-text-white">
                            Edit
                        </span>
                    </button>

                    <button class="button is-danger is-small js-modal-trigger" data-target="deletePost{{id}}">
                        <span class="icon is-small">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                        <span class="has-text-white">
                            Delete
                        </span>
                    </button>
                </div>
            </div>
        </div>
        {{/each}}
        <button class="button is-info js-modal-trigger" data-target="addPost"> 
            <span class="icon is-small">
                <i class="fas fa-circle-plus"></i>
            </span>
            <span class="has-text-white"> 
                Create New Post
            </span>
        </button>
    </div>
</section>

{{!-- Edit Post --}}
<div class="modal" id="editPost{{id}}">
    <!-- Content here -->
</div>

{{!-- Delete Post --}}
<div class="modal" id="deletePost{{id}}">
    <!-- Content here -->
</div>

{{else}}
<h4 class="mt-5 mb-5"><strong>No Posts Yet :/</strong></h4>
<button class="button is-info js-modal-trigger" data-target="addPost"> 
    <span class="icon is-small">
        <i class="fas fa-circle-plus"></i>
    </span>
    <span class="has-text-white"> 
        Create New Post
    </span>
</button>
{{/if}}

{{!-- New Post --}}
<div class="modal" id="addPost">
    <!-- Content here -->
</div>

{{!-- Open and Close Modals --}}
<script src="/public/modal.js"></script>

<script src="/public/post.js"></script>