<div class="container">
    <div class="box">
        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="/public/images/techpic1.jpg">
                </p>
            </figure>
            
            <div class="media-content">
                <div class="content">
                    <p class="title"><strong>{{post.title}}</strong></p>
                    <p>{{post.post_body}}</p>
                    <p><small>{{post.user.username}} · {{format_date post.created_at}} ·</small></p>
                </div>

                {{#if loggedIn}}
                <div class="buttons has-addons is-right mt-5 js-modal-trigger" data-target="addComment">
                    <button class="button is-info is-small">
                        <span class="icon is-small">
                            <i class="fas fa-circle-plus"></i>
                        </span>
                        <span>Add New Comment</span>
                    </button>
                </div>
                {{/if}}

                {{#if post.comments}}
                {{#each post.comments}}
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-48x48">
                            <img src="/public/images/tiktok.jpg">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content mb-3">
                            {{#if (isEqual ../user user_id) }}
                            <p>{{comment_body}}</p>
                            <p><strong>{{user.username}}</strong> · <small>{{format_date created_at}}</small> ·</p>

                            <div class="buttons has-addons is-right js-modal-trigger" id="edit-comment-button" data-target="editComment{{id}}">
                                <button class="button is-info is-outlined is-small">
                                    <span class="icon is-small">
                                        <i class="fas fa-pencil"></i>
                                    </span>
                                    <span>Edit Comment</span>
                                </button>

                                <button class="button is-danger is-small js-modal-trigger" data-target="deleteComment{{id}}">
                                    <span class="icon is-small">
                                        <i class="fas fa-trash-can"></i>
                                    </span>
                                    <span>Delete Comment</span>
                                </button>
                            </div>

                            {{else}}
                            <p></p>
                            <p>{{comment_body}}</p>
                            <p><small><strong>{{user.username}}</strong> · {{format_date created_at}} ·</small></p>
                            {{/if}}
                        </div>
                    </div>
                </article>

                {{!-- Edit comment --}}
                <div class="modal" id="editComment{{id}}" aria-hidden="true">
                    <!-- Content here -->
                </div>

                {{!-- Delete comment --}}
                <div class="modal" id="deleteComment{{id}}" aria-hidden="true">
                    <!-- Content here -->
                </div>
                {{/each}}
                {{/if}}
            </div>
        </article>
    </div>
</div>

{{!-- Add comment --}}
<div class="modal" id="addComment" aria-hidden="true">
    <!-- Content here -->
</div>

<script src="/modal.js"></script>
<script src="/comment.js"></script>
